{% extends 'base.html' %} {% block content %}

{% if page_user.host %}
<h3>{{ page_user }}'s Hosted Tournaments</h3>
{% else %}
<h3>{{ page_user }}'s Entered Tournaments</h3>
{% endif %}

{% if user.host %}
<a class="btn" href="{% url 'user_tournaments_create' user.id %}">Post a Tournament</a>
{% endif %}

<!-- Shows all tournaments ongoing and upcoming -->
<h4>Upcoming Events</h4>
<div class="row">
    {% for tournament in upcoming %}
    <div class="col s4">
    <div class="card">
        <div class="card-content hoverable">
            <span class="card-title">
                <a href="{% url 'tournaments_detail' tournament.id %}">{{ tournament.event_name }}</a>
            </span>
            {{ tournament.game }}
            <hr>
                    <i class="material-icons tiny">event</i> {{ tournament.date }}<br>
                    <i class="material-icons tiny">location_on</i> {{ tournament.venue }} <br>
                    
                    <i class="material-icons tiny">people</i> Attendees (max {{ tournament.max_players }}):
                    <p>
                        {% for player in tournament.players.all %}
                        -{{ player.user.username }}
                        {% endfor %}
                    </p>
                </div>
            </div>
    </div>
    {% endfor %}
    </div>

<h4>Past Events</h4>
<div class="row">
    {% for tournament in past %}
    <div class="col s4">
    <div class="card">
        <div class="card-content hoverable">
            <span class="card-title">
                <a href="{% url 'tournaments_detail' tournament.id %}">{{ tournament.event_name }}</a>
            </span>
            {{ tournament.game }}
            <hr>
                    <i class="material-icons tiny">event</i> {{ tournament.date }}<br>
                    <i class="material-icons tiny">location_on</i> {{ tournament.venue }} <br>
                    
                    <i class="material-icons tiny">people</i> Attendees (max {{ tournament.max_players }}):
                    <p>
                        {% for player in tournament.players.all %}
                        -{{ player.user.username }}
                        {% endfor %}
                    </p>
                </div>
            </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}