{% extends 'base.html' %} {% block content %}

<h1>{{ tournament.event_name }}</h1>

<!-- TODO: ADD IF TO MAKE IT SO THAT ONLY THE HOST CREATOR CAN EDIT AND DELETE -->
<!-- TODO: FIX STYLING TO LOOK LIKE A BRACKET -->
<!-- TODO: ADD LOGIC TO SAY THE TOURNEY IS FULL IF max_players joined -->
{% if user.id == tournament.user.id %}
<a class="btn" href="{% url 'tournaments_update' tournament.id %}">Edit</a>
<a class="btn" href="{% url 'tournaments_delete' tournament.id %}">Delete</a>
{% endif %}

<!-- Shows all tournaments ongoing and upcoming -->
<h6>{{ tournament.event_name }}</h6>
<h6>{{ tournament.game }}</h6>
<h6>{{ tournament.date }}</h6>
<h6>{{ tournament.user }}</h6>
<h6>{{ tournament.venue }}</h6>
<h6>Spaces Available {{ joined }}</h6>
<h6>{{ tournament.max_players }}</h6>
{% for player in tournament.players.all %}
<h6>{{ player.user.username }}</h6>
{% endfor %}

<h6>${{ tournament.prize_pool }}</h6>
<!-- <h6>{{ tournament.is_complete }}</h6> -->

{% if user.player %}
    {% if user.player not in tournament.players.all %}
    <form action="{% url 'join' tournament.id user.player.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Join</button>
    </form>
    {% else %}
<h6>Joined!</h6>
    {% endif %}
{% endif %}

<!-- BRACKET -->

<div class="match">
<div class="top-player">
    <div class="top-name">{{ tournament.players.first.user.username }}</div>
</div>
<div class="bottom-player">
    <div class="bottom-name">{{ tournament.players.first.user.username }}</div>
</div>
</div>

{% endblock %}