{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourney Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'bracketmaker/style.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper amber darken-4">
                <ul>
                    <li>
                        <a href="{% url 'tournaments_home' %}" class="left brand-logo">&nbsp;&nbsp;Tourney Board</a>
                    </li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                        {% if user.host %}
                            <li><a href="{% url 'user_tournaments_index' user.id %}">My Tournaments</a></li>
                            {% else %}
                            <li><a href="{% url 'player_tournaments_index' user.player.id %}">My Tournaments</a></li>
                            <!-- <li><a href="{% url 'user_tournaments_index' user.id %}">My Tournaments</a></li> -->
                        {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

        <main class="container col s8">{% block content %} {% endblock %}</main>

    <footer class="page-footer amber darken-4">
        <div class="right">
        </div>
    </footer>

</body>

</html>