{% extends "base.html" %} {% block content %}

<h3>Tournament Home</h3>
<!-- Shows all tournaments ongoing and upcoming -->
<h4>Upcoming Events</h4>
{% for tournament in upcoming %}
<div class="card">
    <div class="card-content hoverable">
        <span class="card-title">
            <a href="{% url 'tournaments_detail' tournament.id %}">{{ tournament.event_name }}</a>
        </span>
        <hr>
        <div class="row">
            <div class="col s6">
                <b>Game:</b> {{ tournament.game }} <br>
                <b>Date:</b> {{ tournament.date }}<br>
                <b>Prize Pool:</b> ${{ tournament.prize_pool }}
                
            </div>
            <div class="col s6">
                <b>Host:</b> <a href="{% url 'user_tournaments_index' tournament.user.id %}" >{{ tournament.user }}</a> <br>
                <b>Venue:</b> {{ tournament.venue }} <br>
                <b>Max Entrants:</b> {{ tournament.max_players }}
                
            </div>
        </div>
        Registered Players:
        <p>
            {% for player in tournament.players.all %}
            {{ player.user.username }}
            {% endfor %}
        </p>
    </div>
</div>
{% endfor %}
<h4>Past Events</h4>
{% for tournament in past %}
<div class="card">
    <div class="card-content hoverable grey lighten-1">
        <span class="card-title">
            <a href="{% url 'tournaments_detail' tournament.id %}">{{ tournament.event_name }}</a>
        </span>
        <hr>
        <div class="row">
            <div class="col s6">
                <b>Game:</b> {{ tournament.game }} <br>
                <b>Date:</b> {{ tournament.date }}<br>
                <b>Prize Pool:</b> ${{ tournament.prize_pool }}
                
            </div>
            <div class="col s6">
                <b>Host:</b> <a href="{% url 'user_tournaments_index' tournament.user.id %}" >{{ tournament.user }}</a> <br>
                <b>Venue:</b> {{ tournament.venue }} <br>
                <b>Max Entrants:</b> {{ tournament.max_players }}
                
            </div>
        </div>
        Registered Players:
        <p>
            {% for player in tournament.players.all %}
            {{ player.user.username }}
            {% endfor %}
        </p>
    </div>
</div>
{% endfor %}


{% endblock %}